html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Muli";
  src: url(./font/Muli/Mulish-VariableFont_wght.eot), url(./font/Muli/Mulish-VariableFont_wght.otf), url(./font/Muli/Mulish-VariableFont_wght.ttf), url(./font/Muli/Mulish-VariableFont_wght.woff), url(./font/Muli/Mulish-VariableFont_wght.woff2);
}
@font-face {
  font-family: "Inter";
  src: url(./font/Inter/Inter-VariableFont_opsz\,wght.eot), url(./font/Inter/Inter-VariableFont_opsz\,wght.otf), url(./font/Inter/Inter-VariableFont_opsz\,wght.ttf), url(./font/Inter/Inter-VariableFont_opsz\,wght.woff), url(./font/Inter/Inter-VariableFont_opsz\,wght.woff2);
}
body {
  background: linear-gradient(151deg, #8E2DE2 0%, #4A00E0 100%);
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.weather {
  max-width: 768px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.weather__title {
  margin-bottom: 170px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.weather__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 202px;
}
.weather__info_temperature {
  color: #FFF;
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.weather__info_location {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
}
.weather__info_button {
  width: 95px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Muli";
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.weather__footer {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 170px;
}

.info__script {
  display: none;
}
.info__script_time {
  opacity: 0;
}

.search__city {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 202px;
  justify-content: center;
}
.search__city_input {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-bottom: 36px;
  outline: none;
}
.search__city_input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__city_input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__city_button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background: #FFF;
  color: #4C01E0;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  border: 2px solid #FFF;
  transition: 0.5s;
}
.search__city_button:active {
  background-color: transparent;
  color: #FFF;
}

.search__script {
  display: none;
}

.mistake {
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: center;
  height: 202px;
  justify-content: center;
}
.mistake__top {
  display: flex;
  flex-direction: column;
}
.mistake__top_text1 {
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.mistake__top_text2 {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mistake__tryAgain {
  border-radius: 8px;
  background: #FFF;
  border: 2px solid #FFF;
  color: #4C01E0;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  width: 140px;
  cursor: pointer;
  transition: 0.5s;
}
.mistake__tryAgain:active {
  background-color: transparent;
  color: #FFF;
}

.mistake__script {
  display: none;
}/*# sourceMappingURL=style.css.map */